/* ButtonGrid.css */

.containerButton {
  display: -webkit-flex; /* Safari older versions */
  display: flex; /* Standard for most modern browsers */
  flex-direction: column;

width: 120%;
  max-width: 675px;
  margin: 0 auto;
  margin-bottom: 3%;
  margin-left: 2%;
}

.button-grid {
 display: -webkit-flex; /* Safari older versions */
  display: flex; /* Standard for most modern browsers */
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 625px;
  width: 100%;
min-height: max-content;
  margin: 0 auto;
  margin-top: 3%;
  margin-left: -9%;

}

.grid-button {
  padding: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #0b88f6;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.grid-button:hover {
  background-color: #1a30f6;
}

@media (max-width: 1200px) {
  .button-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .button-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .button-grid {
    grid-template-columns: 1fr;
  }
}
