
* {
  box-sizing: border-box;
}

.row::after {
  content:"";
  clear: both;
  display: block;
  background-color: black;

}
h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.center1 {
  justify-items: center;
  text-align: center;
  font-weight: 200;
}
.centerTop {
  justify-items: center;
  text-align: center;
  font-weight: 200;
  
}
.row {
  margin-top: 10%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family:"Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;

}

. ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

. li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #0e21f2;
  color: #ffffff;
}



. li:hover {
  background-color: #0863f6;
}



.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33. 33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 40%; z-index: 99;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83. 33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
